<ion-header>
  <ion-toolbar>
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="input" style="position:fixed; z-index: 99;"></ion-searchbar>

  <ion-list>
    <ion-item></ion-item>
    <ion-item *ngFor="let book of books" [style.display]="book.show">
      <span (click)="clickItem(book)" style="flex: 1;">{{book.id}} - {{book.name}}</span>
      <span (click)="clickItem(book)" style="float:right;">{{book.owned ? "✅" : "❌"}}</span>
      <ion-icon name="trash-outline" class="deleteIcon" (click)="delete(book)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
